@import url(//fonts.googleapis.com/css?family=Lora|Handlee);

/* ** Colors ** */
/*
  http://paletton.com/palette.php?uid=35o0u0kk1wA4YREduG5qaumvYpC

  #E35582
  #B5003A
  #989C97

*/


/* ************* */
/* ** GENERAL ** */
body {
    font-family: "Lora", serif;
    font-weight: 400;
    /*font-size: 1.6em;*/
}

.container-fluid {
    margin-left: 50px;
    margin-right: 50px;
}

.overflow-auto {
    overflow: auto;
    margin-bottom: 10px;
}

.shadowed-img {
    box-shadow: 1px 1px 5px #B5003A;
}

h1 {
    color: #B5003A;
    font-family: "Handlee", sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 25px;
}

a {
    color: #B5003A;
}

a:hover,
a:active,
a:focus {
    color: #E35582;
    text-decoration: none;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}



/* ** Bootstrap Buttons ** */
/*.btn-primary {*/
/*    --bs-btn-color: #fff;*/
/*    --bs-btn-bg: #E35582;*/
/*    --bs-btn-border-color: #E35582;*/
/*    --bs-btn-hover-color: #fff;*/
/*    --bs-btn-hover-bg: #0b5ed7;*/
/*    --bs-btn-hover-border-color: #0a58ca;*/
/*    --bs-btn-focus-shadow-rgb: 49,132,253;*/
/*    --bs-btn-active-color: #fff;*/
/*    --bs-btn-active-bg: #0a58ca;*/
/*    --bs-btn-active-border-color: #0a53be;*/
/*    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
/*    --bs-btn-disabled-color: #fff;*/
/*    --bs-btn-disabled-bg: #0d6efd;*/
/*    --bs-btn-disabled-border-color: #0d6efd;*/
/*}*/

/*.btn-primary,*/
.btn-pink {
    color: #fff;
    background-image: -webkit-linear-gradient(#E35582 0%, #B5003A 100%);
    background-image: -o-linear-gradient(#E35582 0%, #B5003A 100%);
    background-image: linear-gradient(#E35582 0%, #B5003A 100%);
    /*filter: progid:DXImage:;Transform.Microsoft.gradient(startColorstr='#E35582', endColorstr='#B5003A', GradientType=0);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
    background-repeat: repeat-x;
    background-color: #E35582;
    border-color: #B5003A;
    /*margin-top: 4px;*/
}

/*.btn-primary:hover,*/
/*.btn-primary:focus,*/
.btn-pink:hover,
.btn-pink:focus {
    color: #fff;
    background-color: #B5003A;
    background-position: 0 -15px;
    border-color: #B5003A;
}

.btn-pink:active,
.btn-pink.active {
    color: #fff;
    background-color: #B5003A;
    border-color: #245580;
}

/* ** End Bootstrap Buttons ** */


/* ** Beautiful Checkboxes ** */
.custom-control-input:checked~.custom-control-label:before{
    color:#fff;
    border-color: #B5003A;
    background-color: #b5003a;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 58, 0.25);
}

.custom-control-input:checked + .custom-control-label {
    font-weight: bold;
}

/*.checkbox input[type=checkbox] {*/
/*    display: none;*/
/*}*/

/*label.checked {*/
/*    font-weight: bold;*/
/*}*/

/*label.notchecked {*/
/*    font-weight: normal;*/
/*}*/

/*label.checked::before {*/
/*    padding-right: 5px;*/
/*    font-family: "FontAwesome", serif;*/
/*    content: "\f046";*/
/*}*/

/*label.notchecked::before {*/
/*    padding-right: 5px;*/
/*    font-family: "FontAwesome", serif;*/
/*    content: "\f096";*/
/*}*/

/* ** End Beautiful Checkboxes ** */


/* ** Forms ** */
.inline-group label {
    width: 25% !important;
}

.inline-group input {
    width: 75% !important;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #B5003A;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(181, 0, 58, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(181, 0, 58, .6);
}

/*form > * label,*/
.form-floating > label,
.form-group:not(.custom-control) > label {
    font-weight: 700;
}

.invalid-feedback {
    font-size: 85% !important;
}

/* ** End Forms ** */


/* ** Pagination ** */
.pagination > li > a,
.pagination > li > span {
    padding: 6px 12px;
    color: #B5003A;
    border: 1px solid #ddd;
}

.page-item.active > .page-link {
    background-color: #B5003A;
    border-color: #E35582;
}

.pagination > li > a:hover,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #E35582;
    border-color: #E35582;
}

.page-item.active > > a,
.page-item.active > > span,
.page-item.active > > a:hover,
.page-item.active > > span:hover,
.page-item.active > > a:focus,
.page-item.active > > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #B5003A;
    border-color: #B5003A;
}

/* ** End Pagination ** */
/* ** END GENERAL ** */
/* ***************** */


/* ****************** */
/* ** NAVIG-ACTION ** */
.logo {
    height: 69px;
    float: left;
    /*margin: 5px;*/
    padding: 5px;
}

.navbar-brand {
    font-family: 'Handlee', sans-serif;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 1em;
}

.navbar {
    font-family: 'Handlee', sans-serif;
    margin-bottom: 20px;
    border-bottom: 1px solid #E35582;
}

.navbar-light {
    background-color: transparent !important;
    /*border: none;*/
    font-size: 1em;
    padding: 0 !important;
}

/*.navbar:has( > .collapse) {*/
/*    border-bottom: 1px solid #E35582;*/
/*}*/

.navbar-light .navbar-toggle,
.navbar-light .navbar-toggle:focus,
.navbar-light .navbar-toggle:hover,
.navbar-light .navbar-toggle:active {
    color: #fff;
    background-color: #E35582;
}

/*.navbar-light .navbar-nav > li > a {*/
/*    border-top: 5px solid transparent;*/
/*}*/

.navbar-nav > .nav-item {
    border-top: 5px solid transparent;
}

.navbar-nav > .nav-item.active {
    border-top: 5px solid #B5003A;
    background-color: rgba(227, 85, 130, .5);
}

.navbar-brand,
.navbar-nav > .nav-item > a {
    color: #777;
}

/*.navbar-brand,*/
/*.navbar-nav > .nav-item > a:hover {*/
/*    color: #000!important;*/
/*}*/

.navbar-nav > .nav-item.active > a {
    color: #fff !important;
}

.navbar-light .navbar-nav > .nav-item:hover {
    color: #000;!important;
    border-top-color: #B5003A;
}

.dropdown-menu {
    margin: 0;
}

.dropdown-item {
    border-left: 5px solid transparent;
}

.dropdown-item:hover {
    border-left-color: #B5003A;
    background-color: transparent;
}

.dropdown-item.active {
    background-color: #B5003A;
}

/*.navbar-light .navbar-nav > li > a:focus,*/
/*.navbar-light .navbar-nav > .active > a:hover,*/
/*.navbar-light .navbar-nav > .active > a:focus,*/
/*.navbar-light .navbar-nav > .active > a,*/
/*.navbar-light .navbar-nav > .focus > a {*/
/*    color: #fff;*/
/*    background-color: rgba(227, 85, 130, .5);*/
/*    border-top-color: #B5003A;*/
/*}*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #B5003A;
}

.navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

.nav a,
.nav > li > button {
    text-decoration: none;
    color: #B5003A;
}

.nav > li > button:hover,
.nav > li > button:focus {
    text-decoration: none;
    color: #B5003A;
    background-color: rgba(255, 20, 147, 0.4);
}

.nav-pills > li.nav-item > button.active,
.nav-pills > li.nav-item > button.active:hover,
.nav-pills > li.nav-item > button.active:focus {
    color: #fff;
    background-color: #B5003A;
}

/* ** END NAVIGATION ** */
/* ******************** */


/* ********************************************************** */
/* ADMIN */

.nav-pills.admin-menu {
    border-bottom: 0;
}

.nav-pills.admin-menu > a {
    border: none;
    border-radius: 4px;
}

.nav-pills.admin-menu > a:hover {
    color: #B5003A;
    background-color: pink;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: 5px solid #B5003A;
}

.nav-pills.admin-menu > a.active,
.nav-pills.admin-menu > a.active:hover,
.nav-pills.admin-menu > a.active:focus {
    cursor: pointer;
    /*color: #B5003A;*/
    /*background-color: #fff;*/
    color: #FFF;
    background-color: rgba(227, 85, 130, .5);
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: 5px solid #B5003A;
    border-bottom-color: transparent;
}

.badge {
    font-weight: 400;
    font-size: 80%;
    padding: 0.3rem 0.4rem;
}

/* END ADMIN */
/* ********************************************************** */


/* ********** */
/* ** HOME ** */
#accueil-text {
    margin-left: 15%;
    margin-top: 25px;
}

#accueil-text .fa {
    color: #BF0068;
    font-size: 1.5em;
    margin: 4px;
}

#accueil-text p {
    margin-top: 10px;
}

#accueil-text p:nth-child(1) {
    margin-top: 25px;
    margin-left: 0;
}

#accueil-text p:nth-child(2) {
    margin-left: 30px;
}

#accueil-text p:nth-child(3) {
    margin-left: 60px;
}

#accueil-text p:nth-child(4) {
    margin-left: 90px;
    margin-bottom: 0;
}

#accueil-text p:nth-child(5) {
    margin-left: 135px;
    margin-bottom: 0;
    margin-top: 0;
}

#accueil-text p:nth-child(6) {
    margin-left: 140px;
    margin-top: 0;
    margin-bottom: 25px;
}

/* Carousel */
.carousel-control {
    font-size: 2em;
    color: #B5003A;
    border-radius: 20px;
}

/*.carousel-indicators li {*/
/*    border-color: #B5003A;*/
/*}*/

.carousel-indicators .active {
    background-color: #B5003A;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #E35582;
}

.carousel-img {
    border-radius: 20px;
    height: 400px;
}

#carousel-one {
    background: url('../img/pregnant-collection/pregnant-looking-up.jpg') no-repeat center bottom;
}

#carousel-two {
    background: url('../img/pregnant-collection/pregnant-couple-1140.jpg') no-repeat center center;
}

#carousel-three {
    background: url('../img/pregnant-collection/belly-painting-africa-1140.jpg') no-repeat center center;
}

#carousel-ctrl-right,
#carousel-ctrl-left {
    position: absolute;
    top: 50%;
}

#carousel-ctrl-left {
    left: 10%;
}

#carousel-ctrl-right {
    right: 10%;
}

/* End Carousel */
/* ** END HOME ** */
/* ************** */


/* ****************** */
/* ** NOTRE METIER ** */
#notremetier h2 {
    margin-bottom: 20px;
}

/*#notremetier .row {*/
/*    margin-bottom: 50px;*/
/*}*/

/*#notremetier img {*/
/*    box-shadow: 1px 1px 5px #B5003A;*/
/*}*/

#notremetier ul {
    list-style-type: none;
}

#notremetier ul li {
    margin: 2px;
}

.info {
    color: #B5003A;
    font-size: 1.1em;
}

.info:hover {
    color: #E35582;
    cursor: pointer;
}

.pulsing-circle {
    margin-right: 5px;
    -webkit-animation: info-catcher-pulse .8s infinite alternate;
    animation: info-catcher-pulse .8s infinite alternate;
}

@-webkit-keyframes info-catcher-pulse {
    from {
        -webkit-transform: scale3d(0.5, 0.5, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes info-catcher-pulse {
    from {
        -webkit-transform: scale3d(0.5, 0.5, 1);
        transform: scale3d(0.5, 0.5, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.whoooshh {
    position: fixed;
    left: -100%;
    right: 100%;
    top: 15%;
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
    font-size: .95em;
}

.whoooshh-active {
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 1;
}

.whoooshh-close {
    font-family: "Handlee", cursive;
    font-size: 1.5em;
    color: #B5003A;
    margin-right: 25px;
    cursor: pointer;
}

.whoooshh-close:hover {
    color: #E35582;
}

#notremetier .overlay {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(247, 208, 221, .5);
}

#notremetier .metier-content {
    height: 150px;
    overflow: hidden;
    margin: 20px;
    background: #e35583;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

#notremetier .metier-content h4 {
    margin-top: 0;
    margin-bottom: 15px;
}


#notremetier .content-head {
    text-align: center;
}

#notremetier .content-body p {
    text-align: justify;
    font-family: "Handlee", cursive;
}

#notremetier .row .whoooshh-row {
    margin-bottom: 0;
    background: rgba(181, 0, 58, .9);
    -webkit-box-shadow: 0 2px 5px #000;
    box-shadow: 0 2px 5px #000;
}

#notremetier #preparation {
    height: 325px;
}

/* ** END NOTRE METIER ** */
/* ********************** */


/* ****************** */
/* ** NOUS TROUVER ** */
#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#noustrouver-subtext {
    margin-bottom: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

#noustrouver-subtext .fa-external-link {
    color: #B5003A;
}

.map_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /*Ratio 16:9 ( 100%/16*9 = 56.25% )*/
    height: 550px;
}

.map_container .map_canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#table-sf {
    overflow-x: hidden;
}

.activity-td-selected,
.sf-tr-selected {
    color: #fff;
    background-color: #E35582;
}

.sf-hov > tbody > tr:hover {
    border-left: 5px solid #B5003A;
    /*font-weight: bold;*/
    padding-left: 2px;
    cursor: pointer;
}

.table > thead > tr > th {
    border-bottom: none;
}

.sf-hov td,
.sf-hov th {
    padding: 4px;
}

#table-height {
    /*min-height: 100px;*/
    max-height: 600px;
    overflow: auto;
    padding: 0 2px;
}

#gmap {
    padding: 0 2px;
}

/* ** END NOUS TROUVER ** */
/* ********************** */


/* *************** */
/* ** USER ** */
.textarea-subtext {
    color: #989C97;
    font-size: .9em;
}

#user-show dt {
    color: #989C97;
}

#user-show ul {
    border-left: 1px solid #B5003A;
    margin-left: 30px;
    padding-left: 15px;
}

#user-show li {
    list-style: none;
}

#user-show #user-description {
    border-left: 1px solid #B5003A;
    margin-left: 30px;
    padding-left: 15px;
}

#user-show #contact-img {
    margin-top: 32px;
}

#messagerie h3 {
    color: #E35582;
}

.messagerie-form {
    border: 1px solid #B5003A;
    padding: 10px;
    box-shadow: 0 0 5px #B5003A;
    margin-bottom: 25px;
    display: block;
}

.hide-form {
    display: none;
}

.message-author {
    color: #989C97;
}

/* ** END USER ** */
/* ******************** */


/* ****************** */
/* ** LIENS UTILES ** */
#liensutile-table {
    font-size: .9em;
}

/* ** END LIENS UTILES ** */
/* ********************** */


/* ************** */
/* ** CONTACT ** */
#contact-map {
    border: 1px solid #989C97;
    height: 100%;
    width: 100%;
}

#nous-h3 {
    margin-top: 0;
}

#contact-add {
    border-left: 1px solid #B5003A;
    font-size: 1.1em;
    margin-bottom: 20px;
    padding: 20px;
    /*margin-left: 70px;*/
}

#contact-add .numbers {
    color: #989C97;
}

/* ** END CONTACT ** */
/* ***************** */


/* **************** */
/* ** CALENDRIER ** */
#jourj {
    font-size: 4.5em;
    font-family: "Handlee", cursive;
    color: #E35582;
    text-shadow: #ccc 0 1px 0,
    #c9c9c9 0 2px 0,
    #bbb 0 3px 0,
    #b9b9b9 0 4px 0,
    #aaa 0 5px 0;
}

#ani-j {
    position: relative;
    opacity: 0;
    animation-name: fromtop;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fromtop {
    0% {
        top: -100px;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: .5;
    }
    75% {
        top: 5px;
        opacity: .75;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@-o-keyframes fromtop {
    0% {
        top: -100px;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: .5;
    }
    75% {
        top: 5px;
        opacity: .75;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@-moz-keyframes fromtop {
    0% {
        top: -100px;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: .5;
    }
    75% {
        top: 5px;
        opacity: .75;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes fromtop {
    0% {
        top: -100px;
        opacity: 0;
    }
    50% {
        top: 0;
        opacity: .5;
    }
    75% {
        top: 5px;
        opacity: .75;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.ani-minus {
    position: relative;
    opacity: 0;
    animation-name: fromright;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fromright {
    0% {
        right: -50%;
        opacity: 0;
    }
    5% {
        opacity: .25;
    }
    75% {
        right: 1%;
        opacity: .75;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@-o-keyframes fromright {
    0% {
        right: -50%;
        opacity: 0;
    }
    5% {
        opacity: .25;
    }
    75% {
        right: 1%;
        opacity: .75;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@-moz-keyframes fromright {
    0% {
        right: -50%;
        opacity: 0;
    }
    5% {
        opacity: .25;
    }
    75% {
        right: 1%;
        opacity: .75;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes fromright {
    0% {
        right: -50%;
        opacity: 0;
    }
    5% {
        opacity: .25;
    }
    75% {
        right: 1%;
        opacity: .75;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

#ani-nbr {
    position: relative;
    opacity: 0;
    font-size: 0;
    animation-name: toglow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes toglow {
    0% {
        font-size: 0;
        opacity: 0;
    }
    5% {
        font-size: .05em;
        opacity: .05;
    }
    25% {
        font-size: .25em;
        opacity: .25;
    }
    75% {
        font-size: .75em;
        opacity: .75;
    }
    100% {
        font-size: 1em;
        opacity: 1;
    }
}

/*@-o-keyframes toglow {*/
/*    0% {*/
/*        font-size: 0;*/
/*        opacity: 0;*/
/*    }*/
/*    5% {*/
/*        font-size: .05em;*/
/*        opacity: .05;*/
/*    }*/
/*    25% {*/
/*        font-size: .25em;*/
/*        opacity: .25;*/
/*    }*/
/*    75% {*/
/*        font-size: .75em;*/
/*        opacity: .75;*/
/*    }*/
/*    100% {*/
/*        font-size: 1em;*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@-moz-keyframes toglow {*/
/*    0% {*/
/*        font-size: 0;*/
/*        opacity: 0;*/
/*    }*/
/*    5% {*/
/*        font-size: .05em;*/
/*        opacity: .05;*/
/*    }*/
/*    25% {*/
/*        font-size: .25em;*/
/*        opacity: .25;*/
/*    }*/
/*    75% {*/
/*        font-size: .75em;*/
/*        opacity: .75;*/
/*    }*/
/*    100% {*/
/*        font-size: 1em;*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@keyframes toglow {*/
/*    0% {*/
/*        font-size: 0;*/
/*        opacity: 0;*/
/*    }*/
/*    5% {*/
/*        font-size: .05em;*/
/*        opacity: .05;*/
/*    }*/
/*    25% {*/
/*        font-size: .25em;*/
/*        opacity: .25;*/
/*    }*/
/*    75% {*/
/*        font-size: .75em;*/
/*        opacity: .75;*/
/*    }*/
/*    100% {*/
/*        font-size: 1em;*/
/*        opacity: 1;*/
/*    }*/
/*}*/

#legend {
    margin-top: 15px;
    padding-bottom: 1px;
    list-style-type: none;
    border-left: 1px solid #B5003A;
    margin-left: 30px;
    padding-left: 15px;
}

.legend-div {
    margin: 20px;
}

.conception,
.naissance,
.consultation,
.medical,
.administratif,
.maternite {
    text-align: center;
    width: 40px;
    border: 1px solid;
    color: #fff;
    padding: 5px;
    border-radius: 2px;
    float: left;
    margin-right: 15px;
}

.conception,
.naissance {
    background-color: #A140A8;
    border-color: #7C0185;
}

.consultation {
    background-color: #80DD53;
    border-color: #39B100;
}

.medical {
    background-color: #FFB45F;
    border-color: #CC6C00;
}

.administratif {
    background-color: #5654B4;
    border-color: #17158F;
}

.maternite {
    background-color: #3DA294;
    border-color: #00806E;
}

#list-div {
    max-height: 250px;
    overflow-y: auto;
}

#mylist {
    margin-top: 15px;
    color: #989C97;
}

/* ** END CALENDRIER ** */
/* ******************** */


/* ************ */
/* ** FOOTER ** */
footer {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #E7E7E7;
    font-size: 0.7em;
}

/* ** END FOOTER ** */
/* **************** */


/* ******************* */
/* ** MEDIA QUERIES ** */
@media all and (max-width: 1205px) {
    .navbar-light {
        font-size: .9em;
    }

    .navbar-brand {
        font-size: .7em;
    }

}


@media all and (max-width: 995px) {
    body {
        font-size: 1em;
    }

    .navbar-light {
        font-size: 1.4em;
    }

    .navbar-brand {
        display: none;
    }

    .logo {
        height: 40px;
        margin-top: 15px;
    }

    .whoooshh {
        font-size: 1.1em;
    }

    .whoooshh h4 {
        font-size: 1.3em;
    }

    /* contact */
    /*#contact-map {*/
    /*    display: none;*/
    /*}*/

    #contact-add-form {
        border-left: 1px solid #B5003A;
        margin-bottom: 20px;
        padding: 20px;
        /*margin-left: 70px;*/
    }
}

@media all and (max-width: 767px) {
    /* navigation */
    .logo {
        display: none;
    }

    .navbar-light {
        font-size: 1.5em;
    }

    .navbar-light .navbar-nav > li > a:hover {
        color: #777;
        border-top-color: transparent;
    }

    /* nous trouver */
    #noustrouver .table-responsive {
        font-size: 1.2em;
        white-space: normal;
    }

    #noustrouver-subtext {
        text-align: justify;
        margin: 0 0 20px;
    }

    .map_container {
        display: none;
    }

    #contact-img {
        display: none;
    }


    /* liens utiles */
    #liensutile img {
        display: none;
    }


    /* notre metier */
    .info {
        display: none;
    }

    /*#notremetier .img-col {*/
    /*    display: none;*/
    /*}*/

    .whoooshh {
        display: none;
    }

    #notremetier .overlay {
        display: none;
    }

    /* calendrier */
    #legend {
        display: none;
    }


    /* espace pro */
    #espacepro img {
        display: none;
    }

}

@media all and (max-width: 520px) {
    #carousel-home {
        display: none;
    }

    /* home */
    #accueil-text {
        font-size: .8em;
        margin: 10px;
    }

    #accueil-text > p {
        margin-left: 0;
    }

    #accueil-text p:nth-child(2) {
        margin-left: 0;
    }

    #accueil-text p:nth-child(3) {
        margin-left: 0;
    }

    #accueil-text p:nth-child(4) {
        margin-left: 0;
    }

    #accueil-text p:nth-child(5) {
        margin-left: 0;
    }

    #accueil-text p:nth-child(6) {
        margin-left: 0;
    }

}

@media all and (max-width: 420px) {
    /* nous trouver */
    #noustrouver .table-responsive {
        font-size: 1em;
    }


    /* contact */
    #contact-add {
        margin-left: 10px;
    }

    #contact-add-form {
        margin-left: 10px;
    }
}

@media all and (max-width: 0px) {
}


/* ** END MEDIA QUERIES ** */
/* *********************** */


/* ** TESTING ** */
