.vis-item .vis-item-content {
    padding: 0;
    color: #fff;
    text-align: justify;
}

.vis-item:hover {
    background-color: #E35582;
    border-color: #B5003A;
}

.vis-item.vis-selected {
    background-color: #B5003A;
    border-color: #E35582;
}

.vis-label.group-conception,
.vis-label.group-naissance,
.vis-label.group-consultation,
.vis-label.group-medical,
.vis-label.group-administratif,
.vis-label.group-maternite {
    color: #fff;
    font-family: 'Handlee', cursive;
    font-size: 1.1em;
}

.vis-item-conception,
.vis-item-naissance {
    background-color: #A140A8;
    border-color: #7C0185;
}

.vis-label.group-conception,
.vis-label.group-naissance {
    background-color: #A140A8;
}

.vis-item-consultation {
    background-color: #80DD53;
    border-color: #39B100;
}

.vis-label.group-consultation {
    background-color: #80DD53;
}

.vis-item-medical {
    background-color: #FFB45F;
    border-color: #CC6C00;
}

.vis-label.group-medical {
    background-color: #FFB45F;
}

.vis-item-administratif {
    background-color: #5654B4;
    border-color: #17158F;
}

.vis-label.group-administratif {
    background-color: #5654B4;
}

.vis-item-maternite {
    background-color: #3DA294;
    border-color: #00806E;
}

.vis-label.group-maternite {
    background-color: #3DA294;
}

.time-icon {
    font-size: 1.5em;
    float: left;
    margin: 10px;
}

.info-minus {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.info-plus {
    font-size: 1.1em;
    height: auto;
    width: auto;
    opacity: 1;
}

#visualization {
    position: relative;
}

.span-minus {
    position: absolute;
    color: #fff;
    background-color: #E35582;
    z-index: 1999;
    top: 2%;
    left: 38%;
    opacity: 0;
}

.span-plus {
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
    padding: 10px;
    opacity: 1;
}

.info-content {
    font-family: "Handlee", cursive;
}