/* NAVIGATION */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Colors
    deeppink
    #B420FF
    #E7E7E7
*/

.navbar-default {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    border: none;
    font-size: 1.1em;
}

#menu {
    border-bottom: 1px solid deeppink;
}

.navbar-default .navbar-brand {
    margin-top: 10px;
    font-size: 3em;
}

.navbar-default .navbar-nav>li {
    margin-bottom: 4px;
}

.navbar-default .navbar-nav>li>a {
    border-top: 5px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    
    background-color: #E7E7E7;
    border-top-color: deeppink;
}

.navbar-default .navbar-nav>.active>a {
    border-top-color: #B420FF;
}

.navbar-default .navbar-nav>.focus>a {
    background-color: #E7E7E7;
    border-top-color: deeppink;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus  {
    border-top-color: deeppink;
}

.navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu>li>a:hover {
    background-color: deeppink;
}

.dropdown-menu>.active>a {
    background-color: #B420FF;
}
/* END NAVIGATION */


/* GENERAL */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border-radius: 0px;
}

.btn-default {
    color: #E7E7E7;
    background-color: deeppink;
    border-color: deeppink;
}

.btn-default:hover {
    color: #E7E7E7;
    background-color: #B420FF;
    border-color: deeppink;
}

a {
    color: deeppink;
}

a:hover,
a:focus,
a:active {
    color: #B420FF;
}
/* END GENERAL */


/* FOOTER */
.footer {
    margin-top: 15px;
    padding-top: 5px;
    border-top: 1px solid #E7E7E7;
    font-size: 0.7em;
}
/* END FOOTER */

/* PROFIL */
#mod-mdp-link {
    text-indent: 5em;
}
/* END PROFIL */

/* CONTACT */
#contact-map {
    height: 460px;
    width: 460px;
}

#nous-h3 {
    margin-top: 0px;
}
/* END CONTACT */