@import url(http://fonts.googleapis.com/css?family=Dynalight);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);

/* ** Colors ** */
/* 
  http://paletton.com/palette.php?uid=15b0u0kw0tDfTzunVuZCMn%2BMtiR 
  background: url('../img/pregnant-collection/pregnant-looking-up.jpg') no-repeat bottom center;

*/

/* ** GENERAL ** */
body {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.6em;
  // background: url('../img/pregnant-collection/pregnant-looking-up.jpg') no-repeat bottom center;
  // background: url('../img/pregnant-collection/belly-painting-409794_1920.jpg') no-repeat bottom right;
}

.container-fluid {
  margin-left: 50px;  
  margin-right: 50px;
}

h1 {
    color: #BF0068;
    font-family: "Dynalight", sans-serif;
    font-size: 2.5em;
}
/* ** END GENERAL ** */



/* ** Beautiful Checkboxes ** */
.checkbox input[type=checkbox]{
  display: none;
}

label.checked {
  font-weight: bold;
}

label.notchecked {
  font-weight: normal;
}

label.checked::before {
  padding-right: 5px;
  font-family: "FontAwesome";
  content: "\f046";
}

label.notchecked::before {
  padding-right: 5px;
  font-family: "FontAwesome";
  content: "\f096";
}
/* ** End Beautiful Checkboxes ** */



/* ** NAVIGACTION ** */
.logo {
  height: 70px;
  float: left;
  margin: 5px;
}

.navbar-default {
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.navbar-brand {
  font-family: 'Dynalight', sans-serif;
  margin-bottom: 0;
  padding-left: 0;
}

#sub-brand {
  font-family: 'Dynalight', sans-serif;
  font-size: 1.6em;
  margin-left: -160px;
  margin-top: 35px;
}

#menu {
    border-bottom: 1px solid #6B089D;
}



.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
  color: #FFF;
  background-color: #BF0068;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #BF0068;
  background-color: rgba(255, 20, 147, 0.4);
}




.navbar-default .navbar-brand {
    margin-top: 10px;
    font-size: 3em;
}

.navbar-default .navbar-nav>li {
    margin-bottom: 4px;
}

.navbar-default .navbar-nav>li>a {
    border-top: 5px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    border-top-color: #BF0068;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    border-top-color: #BF0068;
}

.navbar-default .navbar-nav>.focus>a {
    background-color: #E7E7E7;
    border-top-color: #BF0068;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus  {
    border-top-color: #BF0068;
}

.navbar-nav > li:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu>li>a:hover {
    background-color: #BF0068;
}

.dropdown-menu>.active>a {
    background-color: #BF0068;
}
/* ** END NAVIGATION ** */




/* ** HOME ** */
#home-image {
  // position: relative;
  // bottom: -100px;
  // right: 0;
}

#accueil .fa {
  color: #BF0068;
  font-size: 1.5em;
  padding: 2px;
  margin: 2px;
}

#accueil-text {
  box-shadow: 1px 1px 3px black;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, .65);
}
/* ** END HOME ** */





/* ** FOOTER ** */
#footer {
  // background-color: rgba(122, 0, 67, .5);
}
/* ** END FOOTER ** */





/* ** TESTING ** */
