.vis-item .vis-item-content {
    padding: 0;
    color: #fff;
    text-align: justify;
}

.vis-item-conception,
.vis-item-naissance {
    background-color: #E35582;
    border-color: #B5003A;
}

.vis-item-consultation {
    background-color: #4DCD4D;
    border-color: #00A300;
}

.vis-item-medical {
    background-color: #FFB45F;
    border-color: #CC6C00;
}

.vis-item-administratif {
    background-color: #505DB0;
    border-color: #12238C;
}

.vis-item-hopital {
    background-color: #3DA294;
    border-color: #00806E;
}

.time-icon {
    font-size: 1.5em;
    float: left;
    margin: 10px;
}

.info-minus {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.info-plus {
    position: relative;
    font-size: 1em;
    height: auto;
    width: auto;
    opacity: 1;
    padding-top: 5px;
    padding-right: 5px;
    z-index: 999;
    // left: -1000px;
}

#visualization {
    position: relative;
}

#testing {
    position: absolute;
    color: red;
    z-index: 999;
    top: 5%;
    left: 50%;
}