.vis-item {
    font-size: 1em;
    color: #fff;
}

.vis-item-conception {
    background-color: #E35582;
    border-color: #B5003A;
}

.vis-item-consultation {
    background-color: #4DCD4D;
    border-color: #00A300;
}

.vis-item-medical {
    // color: #000;
    background-color: #FFB45F;
    border-color: #CC6C00;
}

.vis-item-administratif {
    background-color: #505DB0;
    border-color: #12238C;
}

.vis-item-hopital {
    background-color: #3DA294;
    border-color: #00806E;
}

.vis-item.vis-selected {
    background-color: #B5003A;
    border-color: #E35582;
}

.vis-item.vis-line {
    // color: green;
    // border-left-width: 10px;
}

.vis-item-conception:hover,
.vis-item-consultation:hover,
.vis-item-medical:hover,
.vis-item-administratif:hover,
.vis-item-hopital:hover {
    background-color: blue;
    border-color: blue;
}